body {
  margin: 0;
  overflow: hidden;
}

.myCanvas {
}

.introContent {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: lightgrey;
  padding: 10px;
  display: none;
}

.introButton {
  height: 20px;
  aspect-ratio: 1 / 2;
  background: lightgrey;
  cursor: pointer;
}

.introButton:hover + p {
  display: block;
}
